In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Import numpy and pandas, and using OS tell the system the path to the cleaned dataset so it can easily use it.

In [3]:
import os
for dirname, _, filenames in os.walk('E:\SEM 1\Data Analytics Tools\Project\Cleaned'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

E:\SEM 1\Data Analytics Tools\Project\Cleaned\City_day.csv
E:\SEM 1\Data Analytics Tools\Project\Cleaned\City_hour.csv
E:\SEM 1\Data Analytics Tools\Project\Cleaned\stations.csv
E:\SEM 1\Data Analytics Tools\Project\Cleaned\station_day.csv
E:\SEM 1\Data Analytics Tools\Project\Cleaned\station_hour.csv

In [4]:
#read all cleaned CSV file and store it new variable
city_day     = pd.read_csv("E:\SEM 1\Data Analytics Tools\Project\Cleaned\city_day.csv")
city_hour    = pd.read_csv("E:\SEM 1\Data Analytics Tools\Project\Cleaned\city_hour.csv")
station_day  = pd.read_csv("E:\SEM 1\Data Analytics Tools\Project\Cleaned\station_day.csv")
station_hour = pd.read_csv("E:\SEM 1\Data Analytics Tools\Project\Cleaned\station_hour.csv")
stations     = pd.read_csv("E:\SEM 1\Data Analytics Tools\Project\Cleaned\stations.csv")

# Data Transfromation

In [5]:
#merge all five csv file into new dataframe using concat function
data=pd.concat([city_day,city_hour ,station_day,station_hour,stations])

In [6]:
data.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,StationId,StationName,State,Status
0,Amaravati,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate,NaN,NaN,NaN,NaN
1,Amaravati,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate,NaN,NaN,NaN,NaN
2,Amaravati,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate,NaN,NaN,NaN,NaN
3,Amaravati,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate,NaN,NaN,NaN,NaN
4,Amaravati,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate,NaN,NaN,NaN,NaN

In [7]:
data.isnull().sum()

City           214007
Date              133
PM2.5             133
PM10              133
NO                133
NO2               133
NOx               133
NH3               133
CO                133
SO2               133
O3                133
Benzene           133
Toluene           133
Xylene            133
AQI               133
AQI_Bucket        133
StationId      135513
StationName    349520
State          349520
Status         349520
dtype: int64

In [8]:
data.shape

(349653, 20)

Because each file has a unique variable, the following variables have no value after merging all data frames, so we dropped that column using the drop function.

In [9]:
#below varaibles have missing value after mergeing all dataframe so we drop that column
data.drop(['StationId','StationName', 'State','Status'], axis=1, inplace=True)

In [10]:
data.shape

(349653, 16)

In [11]:
#remove missing value from final dataset
final_clean=data.dropna()

In [12]:
final_clean.shape

(135513, 16)

In [13]:
#change datatype of date variable
final_clean["Date"] = pd.to_datetime(final_clean["Date"])

C:\Users\Dell\AppData\Local\Temp/ipykernel_13060/3981957264.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_clean["Date"] = pd.to_datetime(final_clean["Date"])

In [14]:
#create and store that final CSV file of dataset on the local system using to_CSV function.
final_clean.to_csv("E:\SEM 1\Data Analytics Tools\Project\Cleaned\Final_dataset.csv",index=False)

In [15]:
final_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135513 entries, 0 to 129276
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   City        135513 non-null  object
 1   Date        135513 non-null  datetime64[ns]
 2   PM2.5       135513 non-null  float64
 3   PM10        135513 non-null  float64
 4   NO          135513 non-null  float64
 5   NO2         135513 non-null  float64
 6   NOx         135513 non-null  float64
 7   NH3         135513 non-null  float64
 8   CO          135513 non-null  float64
 9   SO2         135513 non-null  float64
 10  O3          135513 non-null  float64
 11  Benzene     135513 non-null  float64
 12  Toluene     135513 non-null  float64
 13  Xylene      135513 non-null  float64
 14  AQI         135513 non-null  float64
 15  AQI_Bucket  135513 non-null  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 17.6+ MB